{% extends "main.html"%}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container mt-5">

  <div class="text-center">
    <h1 class="d-inline">iSpindel: {{spindle_alias}}</h1>
    <a class="bi bi-pencil-square d-inline" href="#" data-bs-toggle="modal" data-bs-target="#nameChangeDialog"></a>
    <a class="bi bi-eraser d-inline" href="#" data-bs-toggle="modal" data-bs-target="#clearDataModal"></a>
    <div class="mt-1"><span class="badge rounded-pill text-bg-primary">ID: {{spindle_id}}</span></div>
    <div class="mt-2">
    <form method="POST">
      {{ timespan_form.hidden_tag() }}
      {{ timespan_form.timespan_select.label(class="mr-sm-2") }}
      {{ timespan_form.timespan_select(class="mr-sm-2 mb-2", onchange="this.form.submit()") }}
    </form>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="flashes list-group mb-2">
  {% for category, message in messages %}
  <li class="list-group-item">
    <div>{{message}}</div>
  </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  {% if not measurement_date %}
  <div class="alert alert-warning" role="alert">No data available.</div>
  {% else %}
  <div class='chart-container' style='position: relative; height:60vh;'>
    <canvas id='spindledata'></canvas>
  </div>
    {% endif %}

  <script>
    const ctxChart = document.getElementById('spindledata');

    new Chart(ctxChart, {
      type: 'line',
      data: {
        labels: [
        {% for ts in measurement_date %}'{{ts}}', {% endfor %},
        ],
        datasets: [{
            label: 'Gravity',
            data: [{% for grav_val in gravity %}{{grav_val}}, {% endfor %}],
            borderWidth: 2,
            yAxisID: 'y3',
          },
          {
            label: 'Temperature',
            data: [{% for temp_val in temperature %}{{temp_val}}, {% endfor %}],
            borderWidth: 1,
            yAxisID: 'y1',
          },
          {
            label: 'Battery',
            data: [{% for bat_val in battery %}{{bat_val}}, {% endfor %}],
            borderWidth: 1,
            yAxisID: 'y2',
            hidden: true,
          },
          {
            label: 'Angle',
            data: [{% for ang_val in angle %}{{ang_val}}, {% endfor %}],
            borderWidth: 1,
            yAxisID: 'y',
            hidden: true,
          },
        ]
      },
      options: {
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: true,
            position: 'top'
          }
        },
        scales: {
          y: {
            title: {
              display: true,
              text: 'Angle/°'
            },
            beginAtZero: false,
            position: 'right',

          },
          y1: {
            title: {
              display: true,
              text: 'Temperature/°'
            },
            beginAtZero: false

          },
          y2: {
            title: {
              display: true,
              text: 'Battery/V'
            },
            beginAtZero: false,
            position: 'right',

          },
          y3: {
            title: {
              display: true,
              text: 'Gravity'
            },
            beginAtZero: false

          }
        }
      }
    });
  </script>
</div>

<div class="modal fade" id="nameChangeDialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Rename iSpindel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        {{ name_change_form.hidden_tag() }}
        <div class="modal-body">
          <div class="form-group">
            {{ name_change_form.new_spindle_name.label }}
            {{ name_change_form.new_spindle_name(class="form-control") }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="clearDataModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Clear data</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form method="POST">
        {{ data_delete_form.hidden_tag() }}
        <div class="form-check">
          {{ data_delete_form.delete_data(class="form-check-input") }}
          {{ data_delete_form.delete_data.label() }}

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        {{ data_delete_form.submit(class="btn btn-danger", disabled=True) }}
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const check = document.getElementById('delete_data');
  const button = document.getElementById('submit');
  check.addEventListener('change', () => {
    button.disabled = !check.checked;
  });
  </script>

{% endblock %}
